*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* General */

main{
    margin: 20px auto 0;
    width: 1102px;
    height: 1173px;
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}

aside{
    float: left;
}

.central{
    float: left;
    margin: 0 10px;
}

aside .container{
    width: 361px;
}

.central .container{
    width: 360px;
}

.container{
    font-weight: bold;
    height: 521px;
    position: relative;
    margin-bottom: 5px;
}

img{
    width: 361px;
    position: absolute;
    top: 0;
    left: 0;
}

.heart{
    font-size: xx-large;
    width: 48px;
    height: 50px;
    background-color: white;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 20px;
    right: 0;

}

.discount{
    width: 47px;
    height: 28px;
    background-color: red;
    color: white;
    line-height: 28px;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 16px;
}

.characteristic{
    width: 95px;
    height: 28px;
    background-color: green;
    line-height: 28px;
    text-align: center;
    color: white;
    position: absolute;
    top: 477px;
    left: 51px;
}

.container:hover .first{
    opacity: 0;
}

.container:hover .second{
    position: absolute;
    top: 5px;
    left: 0;
}


.brand{
    font-weight: lighter;
}


span:nth-child(1){
    color: red;
    font-weight: bolder;
}
span:nth-child(2){
    text-decoration: line-through;
}