*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* General */

main{
    margin: auto;
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}

aside .container{
    width: 361px;
    height: 521px;
    float: left;
    position: relative;
    margin-bottom: 7px;
}

img{
    width: 361px;
    position: absolute;
    top: 0;
    left: 0;
}

.heart{
    width: 48px;
    height: 50px;
    background-color: white;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 20px;
    right: 0;

}

.discount{
    width: 47px;
    height: 28px;
    background-color: red;
    color: white;
    line-height: 28px;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 16px;
}

.characteristic{
    width: 95px;
    height: 28px;
    background-color: green;
    line-height: 28px;
    text-align: center;
    color: white;
    position: absolute;
    top: 477px;
    left: 51px;
}

.container:hover .first{
    opacity: 0;
}

.container:hover .second{
    position: absolute;
    top: 5px;
    left: 0;
}



span:first-child{
    color: red;
    font-weight: bolder;
}
span:last-child{
    text-decoration: line-through;
}